.nav-bar{
	position:fixed;
	top:0;
	width: 100%;
	height: 60px;
	background-color: $mainNav;
	margin-bottom: 40px;



	&__logo{
		display: inline-block;
		font-size: 1.5rem;
		position:relative;
		top: -25px;
		left: 100px;
		width: 165px;
		height: 90px;
		background-color: $darkBlue;
		color: #fff;
		padding: 10px 0 0 10px ;
		border-radius: 5px;

	}

	&__list{
		float: right;
	}

	&__list > li{
		display: block;
		margin-right: 30px;
		float: left;
	}
	& a {
		color: #fff;
		text-decoration: none;
	}

}